body {
    background-color: #c0dce2;
}


img{
    width: 100%;
    border-radius: 35px;
    margin-bottom: 10px;
    border: 2px solid white;
    
}
/* 
article :hover{
      border-color: #13d0f6;
      width: 110%;
      position: relative;
} */




section {
    column-count: 4;
    column-gap: 10px;
}


.barba{
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    
}